*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
 
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(163, 70, 88);
}

.product {
    width:100%;
    height: 100vh;
    
}

.product .img-main{
width:100%;
margin-top: 100px;
text-align: center;
}
.product .img-main img{
    width:400px;
}
.product .thumb-img{
position: absolute;
bottom:8;
right:50%;
transform:translateX(50%);
display:flex;
margin-top: 25px;
}

.product .thumb-img .box{
    border:2px solid rgb(187, 147, 147);
    margin: 10px 20px;
}
.product .thumb-img img{
    width:80px;
    height: 85px;
    cursor: pointer;
   
    
}